* {
    box-sizing: border-box;
} 
body{
    background-color: black;
    color: white;
    font-family: 'Lucida Grande', Verdana, Arial;
    font-size: 12px;
    background-image: linear-gradient(rgba(5, 10, 5, 0.80), rgba(14, 4, 4, 0.8)), url(fondo.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}
.content{
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
    
    
}
.animate__animated{
    text-align: center;
    font-size: 3em;  
    display: inline-block;
    margin: 0 0.5rem;
    
    
}
.animate__animated span{
    color: rgb(224, 21, 21)    
}
.wrapper{
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3)
    
}
.wrapper > *{
    padding: 1em;
    

}
.left-box{
    background: #222222cb;
}
  
.menu{
    background: #000000d3;
}
.menu h4{
    text-align:center;
    margin: 0;
    font-size: 2em;
}
.menu h4 span{
    color: rgb(224, 21, 21);}
.menu ul
 {
    text-align: left ;
    margin: 0 0 1rem 0;
    font-size: 1.3em;
    
}
.menu ul a{
    font-family: 'Girassol', cursive;
    list-style: none;
    padding: 10px;
    color:#fff;
    text-decoration: none;
}
.menu ul a:hover,
.menu ul a:focus{
    color:red;
}

.menu ul li{
    
    padding: .3em;
}

table{
    width:100%;
    table-layout: fixed;
}
  
th{
     text-align: center;
     padding: 1em;
     font-size: 1.5em;
}

.tbl-verbo{
    text-align: center;
}

td{
    padding: 15px;
    text-align: left;
    vertical-align:middle;
    font-weight: 300;
    font-size: 12px;
    color: #fff;
    border: solid 0.5px rgba(255,255,255,0.3);
}
  
  
  
  
  
 


/* pantalla grande */
@media (min-width: 700px){
    body{
        padding: 0 4rem;
    }
    .wrapper{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .wrapper > *{
        padding: 2em;
    }
    .menu h3,
    .menu ul{
        padding: 1em;
        text-align: left;
    }
}

